[{:db/id -1, :actor/did "did:web:etzhayyim.github.io:com-etzhayyim-watatsumi", :actor/handle "watatsumi.etzhayyim.com", :actor/ipns-key "watatsumi-actor", :actor/graph-type "com.etzhayyim.watatsumi.graph", :actor/published "2026-06-28", :actor/bundle "[[\"data\" \"data\"] [\".well-known/did.json\" \"did.json\"] [\"README.md\" \"README.md\"]]"}]