{:did        "did:web:etzhayyim.github.io:com-etzhayyim-watatsumi"
 :handle     "watatsumi.etzhayyim.com"
 :ipns-key   "watatsumi-actor"
 :graph-type "com.etzhayyim.watatsumi.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
